.login {
  display: grid;
  place-items: center;
  /* the above two lines are used to center the elements in the whole page */
  height: 100vh;
  /* 100vh = 100% view height => this refers to the entire screen that we see without scrolling */
  background-color: black;
}

.login > img {
  width: 100%;
}

.login > a {
  margin-top: 0;
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  font-weight: 800;
  color: white;
  text-decoration: none;
}
